#box{
    margin-top: 70px;
    position: relative; /* Update to relative positioning */
    padding: 0 20%;
    padding-top: 5%;
}

body{
    background-image: url(../images/skydive.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}



p{
    font-size: 20px;
}

#intro-h1{
    text-align: left;
    position: absolute; /* Update to absolute positioning */
    top: 0; /* Position from the top of the parent element */
    left: 0; /* Position from the left of the parent element */
    z-index: 2; /* Set z-index to a higher value than #box */
    background-color: transparent;
    top: 120px;
    padding-left: 20px;
}

#text1{
    text-align: left;
    background-color: transparent;
    position: absolute;
    top: 190px; /* Update to a lower value */
    left: 0;
    padding-left: 20px; 
    max-width: 600px;;
}

#text2{
    text-align: left;
    background-color: transparent;
    position: absolute;
    top: 600px; /* Update to a lower value */
    left: 0;
    padding-left: 20px; 
    max-width: 800px;;
}

#text1 p, #text2 p {
    background-color: transparent;
    font-size: 25px;
}